<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qtasnim.qhopes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".utils.Apps">
        <activity
            android:name=".activities.SplashscreenActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".activities.RegisterDokterActivity"
        android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".fragments.MenuSpesialisActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".activities.MenuMingguiniActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activities.MainActivityPasien"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".activities.MenuHariIniActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".activities.MenuBeritaActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".activities.MenuKontakActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".activities.NavPendaftaranFormActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".activities.MenuInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
    </application>

</manifest>